footer
  .fot
    .info
      h6 About
      p
        | We provide to you facilities to sell your product and display to you products to buy
      .payment-imags
        img(src='/images/visa.png' alt='')
        img(src='/images/mastercard-logo.png' alt='')
        img(src='/images/pay.png' alt='' width='70px' height='25px')
      div
        i.bi.bi-lock-fill
        | secure online payment
    .links
      h6 Categories
      ul
        a(href='')
          li
            i.bi.bi-arrow-right
            |  Accessories
        a(href='')    
          li
            i.bi.bi-arrow-right
            |  Art
        a(href='')
          li
            i.bi.bi-arrow-right
            |  Crochet
        a(href='')
          li
            i.bi.bi-arrow-right
            |  Cooking
        a(href='')
          li
            i.bi.bi-arrow-right
            |  Tailoring
        a(href='')
          li
            i.bi.bi-arrow-right
            |  Wooden
    .links
      h6 Quik links
      ul
        a(href='')
          li
            i.bi.bi-arrow-right
            |  Features
        a(href='')
          li
            i.bi.bi-arrow-right
            |  Products
        a(href='')
          li
            i.bi.bi-arrow-right
            |  Shop
        a(href='')
          li
            i.bi.bi-arrow-right
            |  Sell
        a(href='')
          li
            i.bi.bi-arrow-right
            |  New
        a(href='')
          li
            i.bi.bi-arrow-right
            |  Contact
    .contac
      h6 Contact
      div
        i.bi.bi-geo-alt
        |  Address: Portsaid, Egypt
      div
        i.bi.bi-telephone
        |  Phone: 0663643663
      div
        i.bi.bi-envelope
        |  Email: crafrs22@gmail.com
      div
        a(href='#')
          img(src='/images/app.png' alt='' width='100px')
  .rights
    i.far.fa-copyright
    span 2021 -
    span All
    span rights
    span reserved
    span to
    span Crafts
