extends base

block content
  .login
    .container1
      .forms-container
        .signin-signup
          section
            .container2
              form.forgot-password-form.forgetpass
                .step.step-1.active  
                  .form-group
                    label(for='email') Email
                    input#email(type='email', name='email')
                  button.btn Send
      .panels-container
        .panel.left-panel
          .content
            h3 Remember the password?
            button#sign-up-btn.btn.transparent
              a(href='/login') Log in
          img.image(src='/images/undraw_forgot_password_re_hxwm.svg', alt='password')
