extends base

block content
  .login
    .container1
      .forms-container
        .signin-signup
          section
            .container2
              form.reset-password-form(action='')
                .form-group
                  label New password
                  input#pass-reset(type='password', name='password')
                .form-group
                  label Confirm password
                  input#passCon-reset(type='password', name='password confirm')
                button.btn.token(data-token=`${token}`) Update
      .panels-container
        .panel.left-panel
          .content
